# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Production build output
dist/
dist-ssr/
out/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.production
.env.development

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store